/* fonts */
$h1-thin: 300 78px/1 "Cormorant Infant";
$h1-semibold: 600 78px/1 "Cormorant Infant";

$h2-regular: 400 25px/1 "Cormorant Infant";
$h2-bold: 700 25px/1 "Cormorant Infant";

$pt-sans-regular-20: 400 20px/1 "PT_Sans-Web-Regular", sans-serif;
$pt-sans-regular-16: 400 16px/1 "PT_Sans-Web-Regular", sans-serif;
$pt-sans-regular-13: 400 13px/1 "PT_Sans-Web-Regular", sans-serif;
$pt-sans-regular-10: 400 10px/1 "PT_Sans-Web-Regular", sans-serif;

$cormorant-regular: 400 32px/1 "Cormorant";
$cormorant-bold: 700 32px/1 "Cormorant";

/* transition */
$transition: 0.3s linear;

/* colors */
$white: #FFFFFF;
$dark-blue: #052E4C;
$dark-green: #417A82;
$fuchsia: #B84C74;
$beige-20: #F2F6F7;
$light-green: #E3F6F5;

/* width */
$big: 1440px;
$mid: 1140px;
$small: 928px;
